.dropdown {
  position: relative;
  outline: none;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  background: #333;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 0px #111;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 5px 0;
}

.dropdown .dropdown-menu > * {
  display: block;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 10px;
}

.dropdown .dropdown-menu > div {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dropdown .dropdown-menu > a {
  color: rgba(255, 255, 255, 0.7);
}

.dropdown .dropdown-menu > a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: var(--font-color);
}
