.dropdown {
  position: relative;
  outline: none;
  z-index: 1;
}

.dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 0px #111;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  padding: 5px 0;
}

.dropdown.dark .dropdown-menu {
  background: var(--primary-color);
}

.dropdown .dropdown-menu > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 3em;
  padding: 0 1em;
}

.dropdown .dropdown-menu > div {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--grey-color-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dropdown.dark .dropdown-menu > div {
  color: var(--grey-color-dark);
}

.dropdown .dropdown-menu > a {
  text-decoration: none;
  color: var(--primary-color);
}

.dropdown.dark .dropdown-menu > a {
  color: var(--grey-color-light);
}

.dropdown .dropdown-menu > a:hover {
  color: var(--primary-color);
  background: var(--primary-color-light);
  text-decoration: none;
}

.dropdown.dark .dropdown-menu > a:hover {
  color: var(--primary-color-font);
  background: var(--primary-color-light);
}

.dropdown .dropdown-menu > button {
  margin-left: 0;
  color: var(--primary-color);
  border: none;
  background: #fff;
  text-align: left;
  align-items: flex-start;
  border-radius: 0;
}

.dropdown.dark .dropdown-menu > button {
  color: var(--grey-color-light);
  background: var(--primary-color);
}

.dropdown .dropdown-menu > button .icon-label {
  justify-content: flex-start;
}

.dropdown .dropdown-menu > button:hover {
  cursor: pointer;
  color: var(--primary-color-font);
  background: var(--primary-color-light);
}

.dropdown.dark .dropdown-menu > button:hover {
  color: var(--primary-color-font);
  background: var(--primary-color-light);
}
