.step {
  text-align: center;
}

.step > .icon-label {
  position: absolute;
  top: -2em;
  color: var(--grey-color-dark);
  font-weight: 600;
}

.step.step-first > .icon-label {
  left: 0;
}

.step.step-last > .icon-label {
  right: 0;
}

.step .icon-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: var(--grey-color-dark);
  border: 2px solid var(--grey-color-dark);
}

.step.step-active > .icon-step {
  color: var(--secondary-color-font);
  background: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.step.step-active > .icon-label {
  color: var(--secondary-color);
}

.step.step-success > .icon-step {
  color: #fff;
  background: var(--success-color);
  border: 2px solid var(--success-color);
}

.step.step-success > .icon-label {
  color: var(--success-color);
}
