.talks-page .talks-content {
  padding: 0em;
}

.talks-page .talks-content > div {
  border-bottom: 1px solid var(--grey-color);
}

.talks-page .talks-content > div:last-child {
  border-bottom: none;
}

.no-talks {
  margin: 2em;
  color: var(--grey-color);
}

@media only screen and (max-width: 480px) {
  .talks-page .talks-content {
    border-radius: 0;
    margin: 0;
  }
  .talks-page .talks-header {
    font-size: 0.8em;
  }
}
