.proposal {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'proposal-header proposal-header proposal-header' 'proposal-talk proposal-speakers proposal-votes';
  grid-gap: 1em;
}

.proposal-header {
  grid-area: proposal-header;
}

.proposal-talk {
  grid-area: proposal-talk;
}

.proposal-speakers {
  grid-area: proposal-speakers;
  align-self: start;
}

.proposal-votes {
  grid-area: proposal-votes;
  align-self: start;
}
