@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.app {
  background: var(--background-color);
  font-size: var(--font-size);
  height: 100%;
  overflow: hidden;
}
