/** Button */
.btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  white-space: nowrap;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color-font);
  text-decoration: none;
}

.btn:hover {
  background: var(--primary-color-light);
  border: 1px solid var(--primary-color-light);
  color: var(--primary-color-font);
  text-decoration: none;
}

.btn:active {
  top: 1px;
}

/** Button primary */
.btn.btn-primary {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color-font);
}

.btn.btn-primary:hover {
  background: var(--secondary-color-light);
  border: 1px solid var(--secondary-color-light);
  text-decoration: none;
}

/** Button disabled */
.btn:disabled {
  cursor: not-allowed;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.btn:disabled:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

/** Button link */
.btn.btn-link {
  border: 1px solid transparent;
  color: initial;
  background: initial;
}

.btn.btn-link:hover {
  border: 1px solid var(--primary-color);
  text-decoration: none;
}
