input {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 0px, rgba(0, 0, 0, 0.1) -2px 2px 2px 0px inset;
  color: #fff;
  font-family: inherit;
  outline: none;
  padding: 10px;
  transition: all 0.5s;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

input:focus {
  background: #fff;
  color: rgba(0, 0, 0, 0.7);
}
