h1,
h2,
h3 {
  letter-spacing: 2px;
  font-weight: 400;
}

h1 {
  font-size: 1.8em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3em;
  text-transform: uppercase;
}

h3 {
  letter-spacing: 1px;
  font-size: 1.1em;
}
