h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-top: 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  letter-spacing: 0;
  text-transform: none;
  font-weight: 600;
  margin-bottom: 0;
}
