.login-password {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 20em;
}

.login-password input[name='password'] {
  margin-top: 1em;
}

.login-password .login-forget-password {
  text-align: right;
  margin-top: 1em;
}

.login-password .login-forget-password > a {
  text-decoration: none;
  color: inherit;
}

.login-error {
  position: absolute;
  top: calc(100%);
  margin-top: 1em;
  color: var(--error-color);
}

.login-password .signin-btn {
  margin-top: 1em;
}
