.badge {
  display: inline-block;
  padding: 0.4em 0.5em;
  font-size: 0.9em;
  line-height: 1em;
  border-radius: 3px;
  vertical-align: baseline;
}

.badge-default {
  background-color: var(--primary-color);
  color: var(--primary-color-font);
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
