.submit-talk-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.submit-talk-form > h2 {
  margin-bottom: 1.5em;
}

.submit-talk-form .submit-talk-buttons {
  align-self: flex-end;
}

.submit-talk-form .submit-talk-buttons > button {
  margin-left: 1em;
}
