.item-box {
  display: flex;
  align-items: center;
  min-width: initial;
  overflow: hidden;
  white-space: normal;
  height: 2.7em;
  padding: 0 10px;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  color: var(--primary-color);
  fill: var(--primary-color);
}

.item-box > button {
  margin-left: 10px;
}
