.proposals-toolbar {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.proposals-filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.proposals-filters > * {
  margin-right: 1em;
}

.proposals-filters > select,input {
  width: initial;
  min-width: 10em;
  max-width: 15em;
}

.proposals-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .proposals-toolbar {
    display: none;
  }
}
