.proposalsToolbar {
  width: 100%;
}

.proposalsFilters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-bottom: 1em;
}

.proposalsFilters > * {
  margin-right: 1em;
}

.proposalsFilters > select {
  width: initial;
  min-width: 10em;
  max-width: 15em;
}

.proposalsFilters > input {
  width: initial;
  min-width: 10em;
  max-width: 15em;
}

.proposalsActions {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid var(--grey-color);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  padding: 0.5em 0;
}

.leftActions {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 1.5em;
}

.rightActions {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

@media only screen and (max-width: 480px) {
  .proposalsToolbar {
    display: none;
  }
}
