.proposalsActions {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid var(--grey-color);
  border-radius: 3px;
  width: 100%;
  padding: 0.5em 0;
  height: 4em;
  margin-bottom: 1em;
}

.leftActions {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 1.5em;
}

.rightActions {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

@media only screen and (max-width: 480px) {
  .proposalsActions {
    display: none;
  }
}
