.SingleDatePicker {
  width: 400px;
}

.SingleDatePickerInput {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) -1px 1px 1px 0px inset;
  border-radius: 3px;
}

.SingleDatePickerInput .SingleDatePickerInput_calendarIcon {
  color: var(--primary-color);
  margin: 0;
}

.SingleDatePickerInput .DateInput {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  font-weight: normal;
  font-size: 1em;
  line-height: initial;
  color: var(--primary-color);
}

.SingleDatePickerInput .DateInput .DateInput_input {
  font-size: 1em;
  background: #fff;
  font-weight: inherit;
  border: none;
  color: #000;
  font-family: inherit;
  outline: none;
  padding: 11px 0 9px 0;
  transition: all 0.5s;
  width: 100%;
  box-shadow: none;
  cursor: pointer;
}

.SingleDatePickerInput .DateInput .DateInput_input:focus {
  background: #fff;
}

.SingleDatePicker .DateInput__openDown:after {
  top: 40px;
  z-index: 3;
}
.SingleDatePicker .DateInput__openDown:before {
  top: 40px;
  z-index: 3;
}

.SingleDatePicker_picker {
  z-index: 2;
}

.SingleDatePicker_picker__openDown {
  top: 50px;
}
.SingleDatePicker_picker .CalendarDay__selected {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: #fff;
}

.SingleDatePicker_picker .DayPickerNavigation_button {
  border: none;
  background: none;
}
