header {
  margin-bottom: 2em;
}

.title {
  margin-bottom: 0.7em;
}

.infos {
  color: var(--grey-color-dark);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list {
  padding: 0em;
}

.list > div {
  border-bottom: 1px solid var(--grey-color);
}

.list > div:last-child {
  border-bottom: none;
}

.dates {
  font-size: 0.8em;
  margin-top: 1em;
}

@media only screen and (max-width: 480px) {
  .list {
    border-radius: 0;
    margin: 0;
  }

  header {
    font-size: 0.8em;
  }

  header h1 {
    margin: 0.6em 0;
  }

  header .btn-create-event {
    display: none;
  }

  .infos {
    display: none;
  }
}
