.events-page .events-header {
  margin-bottom: 2em;
}

.events-page .events-content {
  padding: 0em;
}

.events-page .events-content > div {
  border-bottom: 1px solid var(--grey-color);
}

.events-page .events-content > div:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 480px) {
  .organizer-events {
    padding: 0;
  }

  .events-content {
    border-radius: 0;
    margin: 0;
  }
  .events-header {
    font-size: 0.8em;
  }
  .events-header h1 {
    margin: 0.6em 0;
  }
  .events-header .btn-create-event {
    display: none;
  }
}
