.event-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'event-page-header event-page-header'
    'event-page-content event-page-info';
  margin: 0 !important;
  padding: 0 !important;
}

.event-page-header {
  grid-area: event-page-header;
}

.event-page-content {
  grid-area: event-page-content;
  margin-bottom: 3em;
}

.event-page-info {
  grid-area: event-page-info;
  margin-bottom: 3em;
}

.event-share {
  margin: 2em 2em 0 2em;
}

.event-description {
  margin: 3em 2em 0 2em;
}

.event-lists {
  margin: 3em 2em 0 2em;
}

.event-page-info {
  background: #fff;
  align-self: flex-start;
  box-shadow: 0px 1px 15px -3px #111;
}

.event-page-info iframe {
  width: 100%;
  min-height: 300px;
  max-height: 400px;
}

.event-page-info-detail > * {
  padding: 2em 2em 0 2em;
}

.event-page-info-detail > *:last-child {
  padding: 2em;
}

.event-page-info-detail a {
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  .event-page {
    grid-template-columns: 100%;
    grid-template-areas:
      'event-page-header'
      'event-page-content'
      'event-page-info';
    grid-gap: 1em;
  }
}
