.event-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'event-page-header event-page-header'
    'event-page-content event-page-info';
  grid-gap: 2em;
}

.event-page-header {
  grid-area: event-page-header;
  margin-bottom: 0;
}

.event-page-content {
  grid-area: event-page-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
  grid-template-areas:
    'event-cfp event-cfp'
    'event-content event-content' 'event-categories event-formats';
  grid-gap: 2em;
  align-self: start;
}

.event-page-info {
  grid-area: event-page-info;
  align-self: start;
}

.event-page-info > iframe {
  width: 100%;
  min-height: 300px;
  background: var(--background-color);
}

.event-page-info > * {
  margin-bottom: 2em;
}

.event-page-info > *:last-child {
  margin-bottom: 0;
}

.event-page-info a {
  text-decoration: underline;
}

.event-cfp {
  grid-area: event-cfp;
}

.event-content {
  grid-area: event-content;
}

.event-content .event-description > h3 {
  margin-top: 2em;
}

.event-categories {
  grid-area: event-categories;
}

.event-formats {
  grid-area: event-formats;
}

@media only screen and (max-width: 1024px) {
  .event-page {
    grid-template-columns: auto;
    grid-template-areas:
      'event-page-header event-page-header'
      'event-page-content event-page-content' 'event-page-info event-page-info';
    grid-gap: 1em;
  }

  .event-page-content {
    grid-template-columns: auto;
    grid-template-areas:
      'event-cfp'
      'event-content'
      'event-categories'
      'event-formats';
    grid-gap: 1em;
  }
}
