.event-wrapper {
  margin: 0 0 3em 0 !important;
  padding: 0 !important;
}

.event-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'event-page-content event-page-info';
  margin: 1em 4em;
}

.event-page-content {
  grid-area: event-page-content;
  margin-right: 3em;
  width: 100%;
}

.event-page-info {
  grid-area: event-page-info;
}

.event-page-cfp {
  margin: 1em 0;
}

.event-share {
  margin: 2em 0;
}

.event-description {
  margin: 2em 0 4em 0;
}

.event-lists {
  display: flex;
  justify-content: space-between;
}

.event-lists > * {
  width: 50%;
}

.event-page-info {
  background: #fff;
  align-self: flex-start;
  box-shadow: 0px 1px 10px -3px #111;
  margin-top: 3em;
  margin-left: 3em;
}

.event-page-info iframe {
  width: 100%;
  min-height: 300px;
  max-height: 400px;
}

.event-page-info-detail > * {
  padding: 2em 2em 0 2em;
}

.event-page-info-detail > *:last-child {
  padding: 2em;
}

.event-page-info-detail a {
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {

  .event-page {
    grid-template-columns: auto;
    grid-template-areas:
      'event-page-content'
      'event-page-info';
    margin: 1em;
  }

  .event-description {
    margin: 2em 0;
  }

  .event-page-info {
    margin-top: 2em;
    margin-left: 0;
  }

}
