.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: fixed;
  width: 100%;
  transition: background-color 500ms;
}

.scrolled {
  background: var(--primary-color);
}

.brand {
  width: var(--layout-sidebar-width);
  height: var(--layout-navbar-height);
  background: transparent;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  color: #fff;
  font-weight: 700;
  color: #fff;
}

.accent {
  color: var(--secondary-color);
}

.navigation > ul {
  margin: 0 3em;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navigation > ul > li:last-child {
  margin-left: 1em;
}

.navigation > ul > li > a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
}

.navigation > ul > li > a:hover {
  color: var(--secondary-color);
}