.wrapper {
  margin-right: 1em;
  text-decoration: none;
}

.wrapper:hover {
  text-decoration: none;
  color: unset;
}

.wrapper:hover .card {
  box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.3) inset;
}

.card {
  height: 10em;
  background: var(--secondary-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.name {
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.address {
  font-size: 0.9em;
  padding-bottom: 0.2em;
}

.dates {
  font-size: 0.9em;
}