.event-form {
  padding: var(--spacing-lg);
}

.event-form > * {
  margin-bottom: var(--spacing-sm);
}

.event-form > button {
  float: right;
}

@media only screen and (max-width: 480px) {
  .event-form {
    padding: var(--spacing-sm);
  }
}
