.event-form {
  padding: 2em;
}

.event-form > * {
  margin-bottom: 1em;
}

.event-form > button {
  float: right;
}

@media only screen and (max-width: 480px) {
  .event-form {
    padding: 1em;
  }
}
