.block {
  margin-top: 3em;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

@media only screen and (max-width: 480px) {
  .block {
    margin-top: 2em;
  }
}