.vertical-separator > * {
  margin-bottom: 1em;
}

.vertical-separator > *:last-child {
  margin-bottom: 0;
}

.horizontal-separator > * {
  margin-right: 1em;
}

.horizontal-separator > *:last-child {
  margin-right: 0;
}
