.form-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: all 0.5s;
}

.form-radio input[type='radio'] {
 margin-right: 10px;
}

