.filters {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.filters input[type=text] {
  font-size: 1.2em;
  font-weight: 700;
}

.searchFilter {
  flex-grow: 1;
}

.text {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 1em;
}

.actions {
  margin-left: 2em;
}

.button {
  width: 120px;
  height: 2.7em;
}


@media only screen and (max-width: 480px) {
  .filters {
    display: block;
    margin-bottom: 0;
    margin-top: 1em;
  }

  .text {
    display: none;
  }

  .filter {
    display: none;
  }

  .button {
    display: none;
  }
}