.beta-access {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.beta-access h1.beta-access-title {
  text-transform: uppercase;
  margin-bottom: 2em;
}

.beta-access .beta-access-form {
  margin-top: 2em;
  width: 50%;
}

.beta-access .beta-access-error {
  margin-top: 1em;
  color: var(--error-color);
}

@media only screen and (max-width: 1024px) {
  .beta-access .beta-access-form {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .beta-access .beta-access-form {
    width: 95%;
  }
}
