.default-theme {
  --primary-color: #212121;
  --primary-color-light: #484848;
  --primary-color-dark: #000;
  --primary-color-font: #fff;

  --secondary-color: #ffab00;
  --secondary-color-light: #ffdd4b;
  --secondary-color-dark: #c67c00;
  --secondary-color-font: #fff;

  --font-size: 14px;
  --layout-navbar-height: 60px;
  --layout-sidebar-width: 240px;

  --error-color: rgb(220, 53, 34);

  --menu-color-header: #666;
  --menu-color-link: #aaa;

  --spacing-xs: 0.7em;
  --spacing-sm: 1em;
  --spacing-md: 1.5em;
  --spacing-lg: 2em;
  --spacing-xl: 3em;

  background: var(--primary-color-light);
  color: var(--primary-color-font);
  font-size: var(--font-size);

  height: 100%;
  overflow: scroll;
}
