.red-theme {
  --primary-color: #212121;
  --primary-color-light: #383838;
  --primary-color-dark: #000;
  --primary-color-font: #fff;

  --secondary-color: #d32f2f;
  --secondary-color-light: #ff6659;
  --secondary-color-dark: #9b0000;
  --secondary-color-font: #fff;

  --sidebar-color-header: #666;
  --sidebar-color-link: #aaa;

  --font-size: 14px;
  --error-color: rgb(220, 53, 34);
}
