.red-theme {
  --primary-color: #222222;
  --primary-color-light: #383838;
  --primary-color-dark: #000;
  --primary-color-font: #fff;

  --secondary-color: #d9372c;
  --secondary-color-light: #ff6659;
  --secondary-color-dark: #6c1b16;
  --secondary-color-font: #fff;

  --menu-color-header: #666;
  --menu-color-link: #aaa;

  --font-size: 14px;
  --error-color: rgb(220, 53, 34);
}
