.red-theme {
  --primary-color: rgb(22, 24, 30);
  --primary-color-light: #eee;
  --primary-color-dark: #000;
  --primary-color-font: #fff;

  --secondary-color: rgba(217, 15, 48, 1);
  --secondary-color-light: #ff6659;
  --secondary-color-dark: #6c1b16;
  --secondary-color-font: #fff;

  --menu-color-header: #666;
  --menu-color-link: #aaa;

  --font-size: 14px;
  --error-color: rgb(220, 53, 34);
}
