.layout-navbar {
  grid-area: navbar;
}

.layout-sidebar {
  grid-area: sidebar;
  overflow: scroll;
}

.layout-main {
  grid-area: main;
  overflow: scroll;
}

.layout-main > * {
  margin: 3em;
}

.layout-brand {
  grid-area: brand;
}

.layout-screen {
  display: grid;
  grid-template-columns: var(--layout-sidebar-width) auto;
  grid-template-rows: var(--layout-navbar-height) auto;
  grid-template-areas: 'brand navbar' 'sidebar main';
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .layout-screen {
    grid-template-columns: auto;
    grid-template-areas: 'brand' 'main';
  }
  .layout-navbar {
    display: none;
  }
  .layout-sidebar {
    display: none;
  }
  .layout-main > * {
    margin: 0;
    padding: 1em;
  }
}
