.icon-card {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--primary-color-font);
  border-radius: 3px;
  min-height: 5em;
  padding: 1em;
}

.icon-card > .fa {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2em;
  margin-right: 0.5em;
  text-align: center;
}

.icon-card-link:hover {
  cursor: pointer;
  background: var(--primary-color-font);
  color: var(--primary-color);
  text-decoration: none;
}

.icon-card-link:hover .fa {
  color: var(--primary-color);
}
