.proposal-actions-btn {
  display: flex;
  justify-content: space-between;
}

.proposal-actions-btn > * {
  flex: 1;
  margin-right: 1em;
  font-size: 0.8em;
}

.proposal-actions-btn > *:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 480px) {
  .proposal-actions-btn {
    flex-direction: column;
  }

  .proposal-actions-btn > * {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .proposal-actions-btn > *:last-child {
    margin-bottom: 0;
  }


}