.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
}

.login-block .login-title {
  font-size: 2em;
  font-weight: 700;
  text-transform: none;
  color: var(--primary-font-color);
  margin: 1em 0 2em 0;
}

.login-block .login-or {
  margin: 5em 0 2em 0;
}

.login-block .login-signup {
  margin-top: 5em;
}

@media only screen and (max-width: 640px) {
  .login-block {
    height: 100%;
  }
}