.rating {
  display: flex;
  align-items: center;
}

.rating-label {
  cursor: pointer;
}

.rating > span, .rating > i {
  cursor: pointer;
  padding: 0 0.5em;
  transition: all 0.5s;
}

.rating > span, .rating > button {
  cursor: pointer;
}

.rating > span > i {
  padding: 0 0.5em;
}

.rating-noopinion {
  color: #ed4842;
}

.rating-noopinion-disable {
  color: #ccc;
}

.rating-hate {
  color: #000;
}

.rating-hate-disable {
  color: #ccc;
}

.rating-star {
  color: #ffc74c;
}

.rating-love {
  color: #ed4842;
}

@media only screen and (max-width: 480px) {
  .rating-label {
    display: none;
  }

  .rating > span, .rating > i {
    padding: 0 0.3em;
  }

  .rating > span > i {
    padding: 0;
  }
}
