.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  cursor: pointer;
  padding: 1.5em;
}

.event-card:hover {
  background: var(--background-color);
}

.event-card .event-card-title {
  font-size: 1.2em;
}

@media only screen and (max-width: 480px) {
  .event-card {
    font-size: 1.1em;
    padding: 1.5em 1em;
  }
}
