.add-speaker-modal {
  padding: 2em;
}

.add-speaker-modal > h1 {
  margin-bottom: 1.5em;
}

.add-speaker-modal .input-button {
  margin-top: 2em;
}

.speaker-search-separator {
  margin: 2em 0;
  text-align: center;
}