.proposals-filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.proposals-filters > * {
  margin-left: 1em;
  width: initial;
  min-width: 10em;
  max-width: 15em;
}

@media only screen and (max-width: 480px) {
  .proposals-filters {
    flex-direction: column;
    margin-bottom: 1em;
  }

  .proposals-filters > * {
    margin-left: 0;
    margin-bottom: 0.5em;
    width: 100%;
  }
}
