.wrapper {
  display: flex;
  align-items: flex-start;
}

.avatar {
  margin-right: 0.5em;
}

.message {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.3em;
}

.name {
  font-weight: 700;
  margin-right: 0.5em;
}

.date {
  font-size: 0.8em;
  color: var(--grey-color-dark)
}

@media only screen and (max-width: 480px) {
  .message {
    flex-direction: column;
  }
}