.thread {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-width: 600px;
}

.messages {
  overflow: auto;
  padding: 1em 1em 1em 0;
}

.message {
  margin-top: 1.5em;
}

.input {
}
