.search {
  margin: 2em var(--layout-sidebar-width);
}

.block {
  margin-bottom: 4em;
}

.filters {
  margin-bottom: 1.5em;
  font-size: 1.7em;
}

.title {
  font-weight: 700;
}

.filter {
  font-weight: 700;
  text-decoration: underline;
}

.results {
  margin-bottom: 1em;
  display: flex;
}

.more > a {
  font-weight: 700;
}