.survey-block {
  margin: 2em 0;
  max-width: 500px;
}

.survey-block img {
  font-size: 1.2em;
}

.survey-block .questions {
  margin-top: 1em;
  font-weight: 200;
}

.survey-block .questions .question {
  padding: 0.5em 0;
}

.survey-block .questions .question .answer {
  margin-left: 1em;
  color: var(--grey-color-dark);
  font-weight: 600;
}

.survey-block .not-answered {
  margin-top: 1.5em;
}
