.cfp-form {
  padding: 2em;
  background: #fff;
  border: 1px solid var(--grey-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.cfp-form > * {
  margin-bottom: 0.7em;
}

.cfp-form > button {
  width: 200px;
  align-self: flex-end;
}

@media only screen and (max-width: 480px) {
  .cfp-form {
    padding: 1em;
  }
}
