.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--layout-navbar-height);
  background: var(--primary-color);
  transition: background-color 500ms;
  z-index: 10;
}

.fixed {
  position: fixed;
}

.transparent {
  background: transparent;
}

.leftSide {
  flex: 1 1 100%;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 100%;
}

.search {
  flex: 1 1 100%;
  width: 100%;
  margin-left: 1em;
  max-width: 550px;
}

.accent {
  color: var(--secondary-color);
}

.rightSide > ul {
  margin-right: 3em;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.rightSide > ul > li:last-child {
  margin-left: 1em;
}

.rightSide > ul > li > a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
}

.rightSide > ul > li > a:hover {
  color: var(--secondary-color);
}