.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--layout-navbar-height);
  background: var(--primary-color);
  transition: background-color 500ms;
  z-index: 10;
}

.fixed {
  position: fixed;
}

.transparent {
  background: transparent;
}

.leftSide {
  flex: 1 1 100%;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 100%;
}

.search {
  flex: 1 1 100%;
  width: 100%;
  margin-left: 1em;
  max-width: 550px;
}

.accent {
  color: var(--secondary-color);
}

.rightSide {
  height: 100%;
  margin-right: 1em;
}

@media only screen and (max-width: 1023px) {
  .rightSide {
    margin-right: 0em;
  }
}

.rightSide > ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.rightSide > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.rightSide > ul > li > a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
}

.rightSide > ul > li > a.active {
  color: var(--secondary-color);
}

.rightSide > ul > li > a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  border-bottom: 5px solid transparent;
}

.rightSide > ul > li > a.active::after {
  border-color: var(--secondary-color);
}

.rightSide > ul > li > a:hover {
  color: var(--secondary-color);
}