.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: var(--primary-color);
  color: var(--grey-color);
}

.title {
  color: var(--primary-color-font);
  text-transform: uppercase;
  margin-bottom: 1em;
}

.form {
  width: 50%;
}

.error {
  margin-top: 1em;
  color: var(--error-color);
}

.request {
  margin-top: 1em;
}

.request > a {
  color: var(--accent-color);
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  .form {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .form {
    width: 95%;
  }
}
