.icon-label {
  display: flex;
}

.icon-label-label {
  align-self: center;
}

button .icon-label {
  justify-content: center;
}

.icon-label > span > i {
  width: 1em;
  margin-right: 0.6em;
  text-align: center;
}
