.icon-label {
  display: flex;
}

button .icon-label {
  justify-content: center;
}

.icon-label > i {
  width: 1em;
  text-align: center;
  margin-right: 0.6em;
}

.icon-label-right > i {
  margin-left: 0.6em;
  margin-right: 0;
}
