.icon-label {
  display: flex;
  align-items: center;
}

button .icon-label {
  justify-content: center;
}

.icon-label > span > i {
  width: var(--spacing-sm);
  margin-right: var(--spacing-sm);
  text-align: center;
}
