.talk-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  cursor: pointer;
  padding: 0.8em 1em;
}

.talk-card:hover {
  background: var(--background-color);
}

.talk-card .talk-card-title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.talk-card .talk-card-subtitle {
  font-size: 0.9em;
  color: var(--grey-color-dark);
}

.talk-card .talk-card-info {
  display: flex;
}

.talk-card .talk-card-info > * {
  margin-left: 0.5em;
}

@media only screen and (max-width: 480px) {
  .talk-card {
    font-size: 1.1em;
    padding: 0.8em;
  }

  .talk-card .talk-card-info {
    width: 100%;
    align-items: flex-end;
  }

  .talk-card .talk-card-info > * {
    margin-left: 0;
    margin-top: 0.8em;
    margin-right: 0.5em;
  }
}
