.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: var(--font-size);
  width: 50%;
  overflow: auto;
}

.modal-content .modal-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  color: var(--grey-color-dark);
  cursor: pointer;
}

.modal-content .modal-close:hover {
  color: var(--primary-color);
}


@media only screen and (max-width: 1024px) {
  .modal-content {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .modal-content {
    height: 100%;
    width: 100%;
  }
}
