.searchInput {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  font-size: 1.2em;
  background: #fff;
  border-color: #fff;
  color: var(--primary-color);
}

.input[type=text] {
  border-color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.8em;
  flex-grow: 1;
}

.input:focus {
  border-color: #fff;
}

.button {
  background: #fff;
  border-color: #fff;
  color: var(--grey-color-dark);
}


.button:disabled {
  background: #fff;
  border-color: #fff;
  color: var(--grey-color-dark);
}

.button:hover {
  background: #fff;
  border-color: #fff;
  color: var(--grey-color-dark);
}

.button:disabled:hover {
  background: #fff;
  border-color: #fff;
  color: var(--grey-color-dark);
}