.survey-form {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.survey-form > h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.survey-form .form-checkbox {
  margin: 0.5em 0;
}

.survey-form > button {
  align-self: flex-end;
}

@media only screen and (max-width: 480px) {
  .survey-form {
    padding: 1em;
  }
}
