.navbar {
  align-items: center;
  background: var(--primary-color);
  color: var(--primary-color-font);
  display: flex;
  justify-content: flex-end;
  padding-right: var(--spacing-md);
}

.navbar > * {
  margin-left: var(--spacing-md);
}
