.events-header {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid var(--grey-color);
  border-radius: 3px;
  margin-bottom: 2em;
  padding: 1em 2em;
}

.events-content {
  border: 1px solid var(--grey-color);
  border-radius: 3px;
  background: #fff;
}

.events-content > div {
  border-bottom: 1px solid var(--grey-color);
}

.events-content > div:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 480px) {
  .organizer-events {
    padding: 0;
  }

  .events-content {
    border-radius: 0;
    margin: 0;
  }
  .events-header {
    font-size: 0.8em;
  }
  .events-header h1 {
    margin: 0.6em 0;
  }
  .events-header .btn-create-event {
    display: none;
  }
}
