.event-tabs {
  background: rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
}

.event-tabs > ul {
  justify-content: flex-end;
}

@media only screen and (max-width: 480px) {
  .event-tabs > ul {
    font-size: 0.7em;
    align-items: center;
    justify-content: space-around;
  }
}
