ul.event-tabs {
  padding: 2em;
  margin-bottom: 2em;
  justify-content: flex-start;
}

@media only screen and (max-width: 480px) {
  .event-tabs {
    padding: 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
    align-items: center;
    justify-content: space-around;
  }
}
