.event-header {
  grid-area: event-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.event-content {
  grid-area: event-content;
  padding: 1em 2em 2em 2em;
}

.event-content .event-links {
  display: flex;
  margin: 1em 0 2em;
}

.event-content .event-links > a {
  margin-right: 2em;
}

.event-content .event-description > h3 {
  margin-top: 2em;
}

.event-cfp {
  grid-area: event-cfp;
  padding: 1em 2em;
  align-self: start;
}

.event-page {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: auto;
  grid-template-areas: 'event-header event-header' 'event-content event-cfp';
  grid-gap: 2em;
}

@media only screen and (max-width: 1024px) {
  .event-page {
    grid-template-columns: auto 30%;
    grid-template-rows: auto auto;
    grid-template-areas: 'event-header event-header' 'event-content event-content'
      'event-cfp event-cfp';
    grid-gap: 1em;
  }
}
