.talk-header {
  grid-area: talk-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.talk-content {
  grid-area: talk-content;
  padding: 1em 2em 2em 2em;
}

.talk-content > h3 {
  margin-top: 2em;
}

.talk-proposals {
  grid-area: talk-submissions;
  padding: 1em 2em 2em 2em;
  align-self: start;
}

.talk-page {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: auto;
  grid-template-areas: 'talk-header talk-header' 'talk-content talk-submissions';
  grid-gap: 2em;
}

@media only screen and (max-width: 1024px) {
  .talk-page {
    grid-template-columns: auto 30%;
    grid-template-rows: auto auto;
    grid-template-areas: 'talk-header talk-header' 'talk-content talk-content'
      'talk-submissions talk-submissions';
    grid-gap: 1em;
  }

  .talk-toolbar {
    display: none;
  }
}
