.icon-submitted {
  text-align: center;
  color: var(--grey-color-dark);
}

.icon-submitted > i {
  font-size: 12em;
  margin: 0.3em;
}

.icon-submitted > h2 {
  margin: 2em 0;
  font-weight: 600;
  color: var(--success-color);
}
