.searchInput {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  background: #fff;
}

.dark {
  background: var(--primary-color);
}

.input[type=text] {
  flex-grow: 1;
  background: #fff;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input:focus + .button {
  border-color: var(--primary-color);
}

.dark .input[type=text] {
  color: var(--primary-color-font);
  background: var(--primary-color-light);
  border: none;
}

.input:focus {
  color: var(--primary-color);
}

.dark .input:focus {
  color: var(--primary-color);
  background: #fff;
  border: none;
}

.dark .input:focus + .button {
  color: var(--primary-color);
  background: #fff;
  border: none;
}

.button {
  background: #fff;
  color: var(--grey-color-dark);
  border-color: var(--grey-color);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dark .button {
  background: var(--primary-color-light);
  border: none;
  color: var(--grey-color);
}

.button:hover {
  background: #fff;
  border: none;
  color: var(--grey-color-dark);
}

.dark .button:hover {
  background: var(--primary-color-light);
  border: none;
  color: var(--grey-color);
}
