.event-form {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.event-form > * {
  margin-bottom: 0.7em;
}

.event-form > button {
  align-self: flex-end;
}

@media only screen and (max-width: 480px) {
  .event-form {
    padding: 1em;
  }
}
