.input-button {
  display: flex;
}

.input-button > input[type='search'],input[type='text'] {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: transparent !important;
}

.input-button > button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
