.cfp-block {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: column;
}

.cfp-block .cfp-block-title {
  font-size: 2rem;
  margin-bottom: 0;
}

.cfp-block .cfp-block-subtitle {
  font-size: 1rem;
  margin-top: 1em;
  margin-bottom: 0;
}

.cfp-block.cfp-block-not-started {
  color: var(--grey-color-dark);
}

.cfp-block.cfp-block-opened {
  color: var(--success-color);
}

.cfp-block.cfp-block-closed {
  color: var(--error-color);
}
