.avatar {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.avatar-image > img {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.avatar-image > img:hover {
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  cursor: pointer;
}

.avatar-initials {
  border: 2px solid var(--primary-color);
  background: var(--secondary-color);
}

.avatar-initials:hover {
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  cursor: pointer;
}

.avatar-initials > span {
  font-size: 1.5em;
  font-weight: 300;
}
