.format-form > h2 {
  background: var(--background-color);
  margin: 0;
  padding: 2em;
}

.format-form .format-form-content {
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.format-form .format-form-content > div {
  margin-bottom: 0.7em;
}

.format-form .format-form-content > button {
  align-self: flex-end;
}

@media only screen and (max-width: 480px) {
  .format-form .format-form-content {
    padding: 1em;
  }
}
