.footer {
  text-align: center;
  padding: 60px 20px;
}

.footer p {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #4e4e4e;
}

.dark {
  background: var(--primary-color);
  color: var(--primary-color-font);
}

.dark p {
  color: var(--primary-color-font);
}

.dark a {
  color: var(--primary-color-font);
}