.header {
  background-image: url(../images/header.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #090909;
  background-attachment: fixed;
  color: #fff;
  min-height: 750px;
  padding: 0 150px;
  display: flex;
  align-items: center;
}

.hero {
  padding-top: var(--layout-navbar-height);
}

.hero h1 {
  text-transform: none;
  max-width: 600px;
  margin: 1em 0 1em 0;
  font-size: 1.9em;
  line-height: 1.5em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0px;
}
