.brand {
  background: var(--secondary-color);
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--secondary-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
  padding: 0 var(--spacing-sm);
}
