.home {
  height: 100%;
  overflow: auto;
}

.highlights {
  padding: 100px;
  text-align: center;
  display: flex;
}

.highlightBlock {
  width: 33%;
}

.highlightBlock h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: var(--secondary-color);
  margin: 30px 0 0;
}

.highlightBlock p {
  font-size: 18px;
  font-weight: 500;
  max-width: 300px;
  margin: 20px auto;
  line-height: 30px;
}

@media only screen and (max-width: 480px) {
  .highlights {
    flex-direction: column;
    align-items: center;
    padding: 20px 0 30px 0;
  }

  .highlightBlock {
    width: 100%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .highlights {
    padding: 50px;
  }

  .highlightBlock {
    width: 90%;
  }
}


.information {
  background-image: url('../../images/information.webp');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
  height: 500px;
  overflow: hidden;
  padding: 0 150px;
}

.informationWrapper {
  width: 70%;
  padding: 70px;
  float: right;
}

.informationWrapper h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 0;
  color: var(--primary-color);
  text-transform: none;
}

.informationWrapper p {
  line-height: 1.8em;
  font-size: 1.3em;
  font-weight: 300;
}

.informationWrapper > a {
  display: inline-block;
  min-width: 200px;
  margin-top: 25px;
  background: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
}

.informationWrapper > a:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .information {
    background-position: -200px bottom;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 480px) {
  .information {
    background-image: none;
    padding: 20px 0;
    height: auto;
  }

  .informationWrapper {
    width: 100%;
    padding: 20px;
    float: none;
  }
}

.features {
  background: var(--primary-color);
  text-align: center;
  color: var(--secondary-color);
  padding: 100px 0;
}

.features h4 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 1em;
  line-height: 60px;
  color: var(--secondary-color);
}

.features div {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  max-width: 700px;
  margin: 15px auto 40px;
  line-height: 1.8em;
  font-size: 1.2em;
  font-weight: 300;
}

.features div > * {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #fff;
  flex-grow: 1;
}

@media only screen and (max-width: 480px) {
  .features {
    padding: 20px;
  }
}

.contributors {
  background: #fdfdfd;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contributors h4 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 1em;
  line-height: 60px;
  color: var(--primary-color);
}

.contributors p {
  margin: 15px auto 40px;
  line-height: 1.8em;
  font-size: 1.3em;
  font-weight: 300;
  max-width: 700px;
}

.contributorsList {
  max-width: 700px;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .contributors {
    padding: 20px;
  }
}
