.markdown-input {
  --md-header-size: 32px;
  position: relative;
  padding-top: var(--md-header-size);
}

.markdown-input > textarea {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.markdown-input > textarea:focus {
  border-top: none;
}

.markdown-input .markdown-input-focus {
  border-color: var(--primary-color);
  border-bottom-color: var(--grey-color);
}